html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns:repeat( 3, 1fr);
    grid-template-rows:repeat( 1, 1fr);
    grid-template-areas: "a b b";
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: a;
}

.nav, a {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

main {
    grid-area: b;
}